<h2 class="col-3 row justify-content-center text-center" data-map-target="collective">
  <div>
    <% collective_avatar = collective.logo.key || "stun.png" %>
    <%= cl_image_tag collective_avatar, class: "rounded-circle mb-2 avatar-large" %>
  </div>
  <%= link_to collective.name, collective, class: "text-muted" %>
  <% if defined?(user) && collective.owner == user %>
    <small>(owner)</small>
  <% end %>
</h2>
