<h2 class="col-3 row justify-content-center text-center">
  <% if collective.logo.key.nil? %>
    <%= image_tag "stun.png", class: "rounded-circle mb-3 avatar-large" %>
  <% else %>
    <%= cl_image_tag collective.logo.key, class: "rounded-circle mb-3 avatar-large" %>
  <% end %>
  <%= link_to collective.name, collective, class: "text-muted" %>
</h2>
