<div class="landing-logo align-items-center justify-content-center w-25">
  <%= image_tag "logo_fix.png" %>
  <div class="landing-text justify-content-between d-flex text-center">
    <%= link_to "EVENTOS", events_path %>
    <a>COLETIVOS</a>
  </div>
</div>
<!--
<div class="align-self-end landing-date">
  <%= image_tag "date_img.png" %>
</div>
-->
<hr>
