<a type="button" data-bs-toggle="modal" data-bs-target="#membershipModal">Adicione um membro!</a>
<!-- Modal -->
<div class="modal fade" id="membershipModal" tabindex="-1" aria-labelledby="membershipModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="membershipModalLabel">Convide um novo membro para seu coletivo!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="<%= collective_memberships_path(collective) %>" method="post">
          <div class="mb-3">
            <label for="InputUsername" class="form-label text-black">Username</label>
            <input type="text" class="form-control" id="InputUsername" name="username" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text text-black">Insira o username do membro a ser adicionado</div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
