<h1>Editing collective</h1>

<%= render "form", collective: @collective %>

<br>

<div>
  <%= link_to "Show this collective", @collective %> |
  <%= link_to "Back to collectives", collectives_path %>
</div>
