<div class="container centerpage">
  <h1>Editing collective</h1>
  <%= render "form", collective: @collective %>
  <hr>
  <% if policy(@collective).destroy? %>
    <%= button_to(
      "Destroy this collective",
      @collective,
      method: :delete,
      data: {
        turbo_confirm: 'Are you sure?'
      }
     ) %>
  <% end %>
  <hr>
  <div>
    <%= link_to "Exibir coletivo", @collective %> |
    <%= link_to "Voltar para coletivos", collectives_path %>
  </div>
</div>
