<div class="container masthead-index justify-content-center align-items-center d-flex">
  <%= render "hero_banner_collectives" %>
</div>
<div class="container">
  <h1 class="text-capitalize ms-3 mb-4">Coletivos</h1>
  <%#= render "shared/map-div" %>
  <div class="col" data-controller="map">
    <div id="collectives" class= "row justify-content-start ms-5 colectives-col">
      <% @collectives.reverse.each do |collective| %>
        <%= render "collective_card", collective: %>
      <% end %>
    </div>
  </div>
  <% if policy(@collectives).new? %>
    <hr>
    <%= link_to "New collective", new_collective_path, class: "" %>
  <% end %>
</div>
