<div class="container masthead justify-content-center align-items-center d-flex">
  <%= render "hero_banner" %>
</div>
<div class="container">
  <h1 class="text-capitalize">Coletivos</h1>
  <%= render "shared/map-div" %>
  <div class="row align-items-start" data-controller="map">
    <div id="collectives" class= "row justify-content-center colectives-col">
      <% @collectives.reverse.each do |collective| %>
        <%= render "collective_card", collective: %>
      <% end %>
    </div>
  </div>
  <% if policy(@collectives).new? %>
    <hr>
    <%= link_to "New collective", new_collective_path, class: "text-muted" %>
  <% end %>
</div>
