<div class="container">
  <div class="centerpage">
    <h1 class="text-capitalize">Novo Coletivo</h1>
    <%= render "form", collective: @collective %>
    <hr>
    <div>
      <%= link_to "Voltar para coletivos", collectives_path, class: "text-muted"%>
    </div>
  </div>
</div>
