<div class="centerpage">
  <div>
    <h1 class="text-capitalize">Novo Coletivo</h1>
    <%= render "form", collective: @collective %>
    <hr>
    <div>
      <%= link_to "Back to collectives", collectives_path, class: "text-muted"%>
    </div>
  </div>
</div>
