<div class="container">
  <h1><%= @user.name %></h1>
  <!-- CONVITES PENDENTES -->
  <% if @user == current_user %>
    <hr>
    <h2>Convites de Coletivos</h2>
    <% @user.pending_invites.each do |invite| %>
      <%= render "invite_card", invite: %>
    <% end %>
  <% end %>
  <hr>
  <!-- ASSOCIAÇÕES A COLETIVOS -->
  <h2>Associações a Coletivos</h2>
  <% @user.collective_memberships.each do |collective| %>
    <%= render "collectives/collective_card", collective: %>
  <% end %>
  <hr>
  <!-- PRÓXIMOS EVENTOS -->
  <!-- TODO: pendente lógica de event_lists e event_list_subscriptions -->
</div>
