<div id="carouselCollective" class="carousel slide">
  <div class="carousel-inner">
    <% collective_groups = collectives.each_slice(4).to_a %>
    <% collective_groups.each_with_index do |group, i| %>
      <% active = i == 0 ? "active" : ""%>
      <div class="carousel-item <%= active %>">
        <div class="cards-wrapper">
          <% group.each do |collective| %>
            <%= render "collectives/collective_card", collective:, user: %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCollective" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselCollective" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
