<div id="map-container" class="d-flex row" data-controller="map">
  <div class="col-8">
    <%= render "shared/map" %>
  </div>
  <div class="col">
    <h2 id="state-name"></h2>
    <p data-map-target="instructions">Escolha um estado!</p>
  </div>
</div>
