<div id="map-container" class="d-flex row">
  <div class="col-8">
    <%= render "shared/map" %>
  </div>
  <div class="col-4">
    <h2 id="state-name"></h2>
    <p data-map-target="instructions">
      Procure um rolé no seu estado
    </p>
  </div>
</div>
