<!-- NEEDS TO BE ADAPTED TO RETRIEVE THE INFORMATION OF EACH MEMBER OF THE COLLECTIVE-->
<div class="member-card">
  <!-- HERE -->
  <div>
    <%= image_tag "member_icon.png", class: "member-icon" %>
  </div>
  <div class="w-100 member-card-body text-center">
    <p class="member-name"><%= member.name %></p>
    <!-- HERE -->
    <p class="member-role">Role</p>
    <div class="social-links d-flex flex-row justify-content-around">
      <!-- HERE -->
      <%= link_to "", "https://soundcloud.com/discover", :target => "_blank", class: "fa-brands fa-soundcloud" %>
      <%= link_to "", "https://www.instagram.com/", :target => "_blank", class: "fa-brands fa-instagram" %>
    </div>
  </div>
</div>
