<div id="carouselMembers" class="carousel carousel-dark slide">
  <% if members_groups.count > 1 %>
    <div class="carousel-indicators">
      <% slides_numbers = members_groups.count %>
      <% i = 1 %>
      <button type="button" data-bs-target="#carouselMembers" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <% until i == slides_numbers %>
        <%= button_tag "", type: "button", data: {
        bs_target: "#carouselMembers",
        bs_slide_to: "#{i}",
        aria_label: "Slide #{i + 1}"
        } %>
        <% i += 1 %>
      <% end %>
    </div>
  <% end %>
  <div class="carousel-inner">
    <% members_groups.each_with_index do |group, i| %>
      <% active = i == 0 ? "active" : ""%>
      <div class="carousel-item <%= active %>">
        <div class="cards-wrapper">
          <% group.each do |member| %>
            <%= render "shared/member_card", member: %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
