<div class="container centerpage">
  <h1>Editing event</h1>
  <%= render "form", collective: @collective %>
  <hr>
  <% if policy(@event).destroy? %>
    <%= button_to(
      "Destroy this event",
      @event,
      method: :delete,
      data: {
        turbo_confirm: 'Are you sure?'
      }
     ) %>
  <% end %>
  <hr>
  <div>
    <%= link_to "Exibir evento", @event %> |
    <%= link_to "Voltar para eventos", events_path %>
  </div>
</div>
