<div class="container masthead justify-content-center align-items-center d-flex">
  <%= render "hero_banner_events" %>
</div>
<div class="container-fluid">
  <p style="color: green"><%= notice %></p>
  <h1 class="text-capitalize">Eventos</h1>
  <div id="events" class="d-flex flex-row align-items-center row">
    <% @events.each do |event| %>
      <%= render "event_card", event: %>
    <% end %>
  </div>
  <div class="btn-new-event">
    <% if policy(@events).new? %>
      <%= link_to "New event", new_event_path, class: "btn btn-outline-dark" %>
    <% end %>
  </div>
</div>
