<div class="container masthead-index justify-content-center align-items-center d-flex">
  <%= render "hero_banner_events" %>
</div>
<div class="container">
  <p style="color: green"><%= notice %></p>
  <div id="events" data-controller="map" >
    <%= render "shared/map-div"%>
    <div data-map-target="eventsByCity">
    </div>
  </div>
</div>
