<div class="container-fluid">
  <p style="color: green"><%= notice %></p>
  <h1 class="text-capitalize">Eventos</h1>
  <div id="events" class="d-flex flex-row align-items-center row">
    <% @events.each do |event| %>
      <%= render "event_card", event: %>
    <% end %>
  </div>
  <% if policy(@events).new? %>
    <hr>
    <%= link_to "New event", new_event_path %>
  <% end %>
</div>
