<div class="container">
  <h1 class="text-capitalize">Eventos</h1>
  <div id="events">
    <ul>
      <% @events.each do |event| %>
        <li>
          <%= render "event_card", event: %>
        </li>
      <% end %>
    </ul>
  </div>
  <% if policy(@events).new? %>
    <hr>
    <%= link_to "New event", new_event_path %>
  <% end %>
</div>
