<div class="membership-card d-flex row my-3 px-2 py-4 align-content-center justify-content-between">
  <div class="col-2 membership-collective-section">
    <div class="img-wrapper">
      <%= image_tag "stun.png" %>
    </div>
    <h2 class="text-center mt-2">Nome do Coletivo</h2>
  </div>
  <div class="col-8 d-flex row align-content-center">
    <h2>Fazer parte do Coletivo XYZ</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis recusandae nostrum ex, voluptate qui facilis vitae veniam est. Enim odio consectetur deserunt facere, atque molestias. Quasi vel magnam ipsa quam?</p>
  </div>
  <div class="col-2">
    <h4 class="btn bnt-outline-dark w-auto h-auto">Aceitar</h4>
    <h4 class="btn btn-outline-danger w-auto h-auto">Recusar</h4>
  </div>
</div>
