<div class="container masthead justify-content-center align-items-center d-flex">
  <div class="landing-logo align-items-center justify-content-center">
    <%= image_tag "logo_fix.png", class: ""%>
    <div class="landing-text justify-content-around d-flex text-center">
      <h5 class="fw-light text-uppercase"><%= link_to "Eventos", events_path, class: ""%></h5>
      <h5 class="fw-light text-uppercase"><%= link_to "Coletivos", collectives_path, class: "" %></h5>
    </div>
    <div class="align-self-end landing-date">
      <%= image_tag "date_img.png" %>
    </div>
  </div>
