<div class="container-fluid home-page d-flex">
  <div class="d-flex flex-column justify-content-center align-items-center w-100">
    <%= image_tag "logo_white.png", class: "img-fluid align-self-center" %>
    <div class="d-flex mt-4 w-auto">
      <h5 class="fw-light text-uppercase"><%= link_to "Eventos", events_path, class:"mx-5"%>
      </h5>
      <h5 class="fw-light text-uppercase">
        <%=link_to "Coletivos", collectives_path, class:"mx-5"%>
      </h5>
    </div>
  </div>
</div>
