<div class="container masthead justify-content-center align-items-center d-flex">
  <div class="landing-logo align-items-center justify-content-center">
    <%= image_tag "logo_fix.png", class: "mb-3"%>
    <div class="landing-text justify-content-around d-flex text-center">
      <%= link_to "Eventos", events_path, class: "btn btn-outline-dark"%>
      <%= link_to "Coletivos", collectives_path, class: "btn btn-outline-dark" %>
    </div>
  </div>
</div>
