.event-card {
  position: relative;
  background-color: #120114;
}

.event-photo {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  height: 190px;
  overflow: hidden;
}

.event-collective {
  position: absolute;
  color: rgb(243, 230, 230);
  background-color: black;
  bottom: 0;
  width: 100%;
}

.event-time {
  position: absolute;
  color: rgb(243, 230, 230);
  right: 0;
  background-color: black;
  padding-right: 5%;
  padding-top: 2%;
}

.event-collective a {
  color: rgb(243, 230, 230);
}

.event-collective a:hover {
  color: #da00cb;
}
