.event-card {
  position: relative;
}

.event-photo {
  position: relative;
}

.event-collective {
  position: absolute;
  color: white;
  background-color: black;
  bottom: 0;
  border-radius: 50%;
}

.event-time {
  position: absolute;
  color: white;
  right: 0;
  background-color: black;
  // border-radius: 50%;
}