.masthead {
	background-size: cover;
	min-height: 90vh;
	position: relative;
}

.color-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
}

.colec-title {
	font-weight: bold;
	font-size: 400%;
}

.event_date {
	background-color: black;
	color: white;
}

.collective_name {
	background-color: black;
	color: white;
}