#map-container {
  width: 100%;
  height: auto;
}


// Styles for the state paths
[data-map-target="state"] {
  fill: #120114;
  stroke: #fe00ff;
  stroke-width: 1px;
}

// Hover styles for the states
[data-map-target="state"]:hover {
  // stroke: red; // Set the stroke color when hovering over a state
  stroke: #19FFDC;
  stroke-width: 3px; // Increase the width of the state outlines when hovering
}

.selected-state {
  fill: #B300B3;
  stroke-width: 0;
}