.hero-user {
  background-color: lightgray;
  background-size: 50% auto;
  width: 100%;
  max-height: 40vh;
}

.user-icon {
  width: 20%;
  border-radius: 50%;
}

.membership-card {
  width: 100%;
  position: relative;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;

}

.img-wrapper img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
