.navbar-lewagon {
  justify-content: space-between;
  display: flex;
  background-color: rgba($color: #000000, $alpha: 0.3);
  /* position: fixed; */
  width: 100%;
  color: white;
  backdrop-filter: blur(8px);
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 146px;
}
